@import "../../style/abstracts/mixins";

.pok-list {
  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    @include flex-row(center, center);
    flex-wrap: wrap;
    margin-top: 2rem;
  }
}
