@import '../abstracts/variables';

.sidenav {
  &__container {
    top: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 3.5rem);
  }

  &__menu {
    min-width: 10rem;
  }

  &__list {
    padding-right: 10px;
  }

  &__activeLink {
    color: var(--color-red-4) !important;
  }
}
